---
import MainLayout from '../layouts/MainLayout.astro';
import Newsletter from '../components/Newsletter.astro';
---
<MainLayout>
  <div class="about-content">
    <h1>About 4thelazy.com</h1>
    <p>4thelazy.com is a website for lazy people like you and me. We provide tools and tips for those who want to save time and effort.</p>
  </div>
  <Newsletter />
</MainLayout>

<style>
    .about-content {
        
        
    }
</style>
