<div class="newsletter-container">
    <div class="newsletter-header">
      <h2 class="newsletter-title">Subscribe to the newsletter</h2>
    </div>
    <form class="newsletter-form">
      <div class="input-container">
        <label for="email" class="visually-hidden">Email address</label>
        <iframe src="https://embeds.beehiiv.com/baa462fc-7e97-43da-95a0-c8025b88968c?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
      </div>
    </form>
    <p class="newsletter-description">
      Weekly hacks, tools, and fast food tricks for lazy people without the work 🍕
    </p>
  </div>

  <style>
    .newsletter-container {
      max-width: 38rem;
      margin: 0 auto;
      text-align: center;
      border: 1px solid #d1d5db;
      border-radius: 15px;
      padding: .75rem;
      background-color: #fff;

    }

    .newsletter-header {
      margin-bottom: 1rem;
    }

    .newsletter-title {
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--color-primary);
    }

    .newsletter-form {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      margin-bottom: 0.75rem;
    }

    .newsletter-description {
      font-size: 0.875rem;
      color: #6b7280;
      margin-top: 0.75rem;
    }

    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  </style>